* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  margin-top: 10%;
}
button {
  padding: 0.5rem 1rem;
}
